[submodule "Can/Can/vendor/spdlog"]
	path = Can/Can/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Can/Can/vendor/GLFW"]
	path = Can/Can/vendor/GLFW
	url = https://github.com/EmreCan-Haciosmanoglu/glfw
[submodule "Can/Can/vendor/imgui"]
	path = Can/Can/vendor/imgui
	url = https://github.com/EmreCan-Haciosmanoglu/imgui
[submodule "can/can/vendor/glm"]
	path = can/can/vendor/glm
	url = https://github.com/g-truc/glm
